*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* mobile design  */

body{
    font-family: 'Nunito', sans-serif;
}

.head h1{
    font-weight:bolder;
}

header{
    line-height: 2em;
}

header{
    padding-top: 0.8em;
    padding-left: 0.8em;
    
}


header > h1:hover{
color: rgb(32,96,60);;
}

header h3{
    font-weight: 400;
    font-size: 12px;
    color: rgb(60, 35, 35);
}

ul{
    display: none;
}

button{
    padding: 14px ;
    box-shadow: none;
    border: rgb(32,96,60) solid 1px;
    background-color: rgb(32,96,60);
    border-radius: 6px;
}

button a {
    text-decoration: none;
    color: rgb(255,253,246);
    font-size: 18px;
    font-weight: bold;
}

.icons p{
    display: inline;
    padding-right: 12px;
    font-size: 1.3em;
    
}

.icons{
    padding-top:0.4em ;
    margin-left: 4px;
}

.one{
    color:rgb(255,253,246);
    padding-top:34px;
    padding-left: 0.8em;
}
.one h2{
    font-weight: bold;
    font-size: 60px;
}

.one p{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 100;
}

.one .touch{
    border:rgb(255,253,246) solid 2px ;
    margin-top: 14px;
    font-weight: bolder;
    margin-bottom: 34px;
}


.photo img{
    width: 100%;
    height: 100%;
}

.two{
    text-align: center;
    background-color: rgb(255,253,246);
    color: rgb(60, 35, 35);
}

.two p{
    padding-top: 40px;
}

.two h2{
    padding-top: 18px;
    padding-bottom: 18px;
}

hr{
    width: 48px;
    height: 2px;
    background-color: rgb(60, 35, 35);
    margin: auto;
    border: none;
}


/* desktop design */

@media screen and (min-width:600px){

    header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .menu{
        display: none;
    }

    ul{
        display: block;
        margin-right: 10px;
    }

    ul li{
        display: inline;
    }

    ul li a{
        text-decoration: none;
        color: rgb(60, 35, 35);
        font-weight: bolder;
        padding-left: 10px;
    }
    .icons ul{
        margin-left: -190px;
    }

    ul li a:hover{
        color:rgb(32,96,60);
    }

    .one h2{
        padding-top: 80px;
    }

    .next{
        display: flex;
    }

    .next .one{
        width: 50%;
        height: 42em;
    }

    .photo{
        width: 50%;
        height: 42em;}

    .one .touch{
        margin-top: 24px;
    }    

    .one{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}